[2018-01-10 14:39] heypiotr opened #1 "Document the nullability of the EPXProximityRange initializer"
The `initWithDesiredMeanTriggerDistance` initializer and the `customRangeWithDesiredMeanTriggerDistance` factory method are marked as `nullable`, and it's not immediately obvious why. From talking to @airalex, I learned it's in case somebody passes a negative distance. I believe this behavior is worth an extra line of documentation in the headerdoc (:

[2018-01-12 12:47] airalex commented on #1
Fixed in [v0.9.0](https://github.com/Estimote/iOS-Proximity-SDK/releases/tag/v0.9.0) release.

[2018-01-12 12:47] #1 closed

[2018-01-23 01:25] trietlam opened #2 "Estimote Telemetry packet ?"
Hi there,

I'm just wondering if it is recommended to use this iOS-Proximity-SDK for listening to Estimote Telemetry packets  (same as Android-Proximity-SDK) ? Or should we stick to old iOS-SDK ?

[2018-01-23 15:13] airalex commented on #2
Hey @trietlam

iOS Proximity SDK depends on [Estimote Bluetooth Scanning](https://github.com/Estimote/iOS-Bluetooth-Scanning) so the latter one should be available in your project if it's already using Proximity SDK. Keep in mind that at the moment Estimote Bluetooth Scanning framework is not intended as developer-friendly library and thus, it lacks tutorials and examples. Please treat this as a w

[2018-01-23 20:17] trietlam commented on #2
Thanks @airalex  for the clarification.
Cheers !!!

[2018-01-24 08:15] #2 closed

[2018-02-22 08:31] croustibat opened #4 "[IOS] App rejected when upload release package on testflight"
Hello guys,

Just to let you know there's 2 issues when trying to upload the release package on itunesconnect (testFlight) :

1. EstimoteBluetoothScanning.framework The Info.plist file is missing the required key: CFBundleVersion.
[code]
2. Both executables for EstimoteBluetoothScanning.framework and EstimoteProximitySDK.framework contains unsupported architectures [x86_64, i386]
For this issue, u

[2018-02-22 08:43] airalex commented on #4
Hey @croustibat

Thanks for sharing this!

Issue 1: I'll add the missing key in the next release of EstimoteBluetoothScanning.

Issue 2: This is probably related to App Store rejecting builds with iOS simulator slices. How did you add Proximity SDK to your project – manually, with CocoaPods, or with Carthage?

[2018-02-22 16:45] croustibat commented on #4
I added the Proximity SDK manually : General > Linked Framework and Libraries

[2018-03-05 15:06] Tibb opened #5 "When EstimoteProximitySDK is imported, the Xcode editor autocomplete crashes."
XCode version: 9.2 (latest)
ProximitySDK version: latest from Cocoapods

Hi, I'm trying to create a professional app that uses your beacons. I successfully tested the DeskObserver app as a first step.

Unfortunately, I discovered that, as soon as the Proximity SDK is imported in a Swift file (even in your sample project), if you start to edit this file, the autocomplete will try to do its job and

[2018-03-06 09:48] airalex commented on #5
Hey @Tibb

Thanks for reporting this! We're still figuring out what causes this issue.

In the mean time, I've come up with a temporary workaround — if you create an Obj-C bridging header and import Proximity SDK there, Xcode's source code completion seems to work as usual.

[code]
-->
[code]

[2018-03-06 10:24] ivopisarovic opened #6 "0.11.0 not working in background."
After updating from 0.10.0 to 0.11.0 events are coming only when the app is in foreground. When the app is in background, _onEnterAction_, _onExitAction_ and _onChangeAction_ is not called. No error is logged. Are any changes necessary in the code? I used the same code as for 0.10.0. With the version 0.10.0 it was working fine both in the foreground and in the background.

[code]

Xcode 9.2, Swift

[2018-03-06 13:48] airalex commented on #6
Hey @ivopisarovic

I've verified that this is caused by a bug in the SDK, you can expect a bug fixing release soon. If you really need to work with observing proximity zones in the background, please use v0.10.0 until the fixes ship.

Thanks!

[2018-03-06 14:18] Tibb commented on #5
Hey @airalex,

Thanks for the quick answer, I tried your workaround and still have the same issue :(
(with the DeskObserver example and my others test projects)
More precisions I forgot to mention:

iOS SDK: 11.2
Swift version: 4.0

Did you also have this issue or managed to re-create it? My colleague test too and is facing the exact same issue, so I bet we're not the only ones..

[2018-03-06 15:27] airalex commented on #6
[v0.11.1](https://github.com/Estimote/iOS-Proximity-SDK/releases/tag/v0.11.1) contains fixes for this issue, so the callbacks should be called normally now. We must have missed this when preparing v0.11.0 build, thanks again for reporting, @ivopisarovic!

[2018-03-06 15:27] #6 closed

[2018-03-09 14:39] Tibb commented on #5
@chwastek Any explanation or advice?

[2018-03-11 22:22] bverp opened #7 "SDK not compatible with Swift 4.1"
When using Xcode 9.3 (beta 4) building generates the error "The following binaries use incompatible versions of Swift" as it seems that the SDK is not compatible with Swift 4.1.

[2018-03-13 18:28] ivopisarovic commented on #5
Confirming, the bug is still there. The bridging header did not help.

[2018-03-14 10:14] Tibb commented on #5
Thanks for the feedback @ivopisarovic
I tried to contact their support, but we didn't get any response so far...
@airalex @chwastek

[2018-03-15 07:42] bartlomiejolma commented on #5
Hello @Tibb, @ivopisarovic,

Apparaently GitHub automatically closed this issue when we closed PR (with fix) in Source Code repo. I am sorry for poor communication around it.

We have published fix for this issue in latest [release](https://github.com/Estimote/iOS-Proximity-SDK/releases/tag/v.0.11.2).

Please let me know if it solves an issue on your machines. Thanks for being patient!

[2018-03-19 13:42] Tibb commented on #5
Hello @bartlomiejolma,

Thanks for the update and the release.
It did work better in the first minutes of usage and on a completely new and clean project.

Unfortunately, the issue is finally still there and pops on each file that import the ProximitySDK.
I spent a lot of time testing every possible scenario (new project, with Pods, without Pods, with bridging header, etc), they all ended with the

[2018-03-22 12:40] airalex commented on #5
Hey @Tibb,

I've changed the way we process private headers during framework building, the update is available as [v0.11.3](https://github.com/Estimote/iOS-Proximity-SDK/releases/tag/v0.11.3). The SourceKit issues are no longer present when we use Proximity SDK with our apps, can you give it a try?

[2018-03-30 21:17] neuronaut commented on #7
I just upgraded to the release of Xcode 9.3 and I'm getting the same issue. Could someone at Estimate please compile this library using Xcode 9.3 to make it compatible?

[2018-03-30 22:49] hishma commented on #7
+1

[2018-04-01 01:33] naruto9lol commented on #7
same problem here

[2018-04-04 09:38] fonesti commented on #7
+1

[2018-04-06 04:24] troya2 commented on #7
+1

[2018-04-06 05:03] megataps opened #8 "Cocoapods issues"
I got a error when add this SDK to project:

[!] CocoaPods could not find compatible versions for pod "EstimoteProximitySDK":
  In Podfile:
    EstimoteProximitySDK

Specs satisfying the `EstimoteProximitySDK` dependency were found, but they required a higher minimum deployment target.

[2018-04-06 14:33] Tibb commented on #5
Hey @airalex, it does better now: no autocomplete crash anymore 👍
But here is my next issue:

Which seems to be related to [Issue#7](https://github.com/Estimote/iOS-Proximity-SDK/issues/7), as I'm now running the latest version of Xcode (9.3), iOS (11.3) and Swift (4.1).

[2018-04-06 14:39] croustibat commented on #7
+1
i've got this strange error :
`dyld: Symbol not found: __T0SayxGs9DecodableslWP`

[2018-04-07 14:51] croustibat commented on #7
Yes ! it's working now ! i can compile an run my app.
Thank you @luki2505 to point out the post on the forum !

[2018-04-09 06:04] ivopisarovic commented on #5
Yes, autocomplete works fine now. Good job!

[2018-04-09 09:50] ivopisarovic opened #9 "Range is always 1 meter."
Hi, I recognized another problem. No matter what I set in the application I need to approach a beacon to distance closer than one meter to fire events. I tried setting the zone range to `.near`, `.far` and 15 meters without any change of the real range of cca 1 meter. The problem occurs in my app and also in the official Estimote app and Proximity Demo.

Devices: iPhone 7, iPad mini 2.
iOS 11.2.6

[2018-04-09 13:30] sw-tt-ravivora opened #10 "Not called any methods of onEnterAction or onExitAction , onChangeAction"
I am using your latest repository. but not able to get any callback on enterAction or exitAction methods.
Though i have setup all information on estimote cloud to related beacons.

[2018-04-09 14:46] Tibb commented on #7
Confirmed! Thanks @luki2505 this version works 💯

@heypiotr @airalex thanks a lot for this bundled version! Do you consider to push a new release and make it available through CocoaPods soon?

[2018-04-10 08:01] megataps commented on #10
@sw-tt-ravivora Did you turn on Bluetooth on your devices?

[2018-04-10 08:13] sw-tt-ravivora commented on #10
yes bluetooth is enabled.

[2018-04-10 08:32] megataps commented on #10
Did you see your beacons in Estimote app?

[2018-04-10 08:43] sw-tt-ravivora commented on #10
yes, even i can able to get list of beacons in previous estimote sdk using didrangebeacons delegate methods.

[2018-04-10 14:40] bartlomiejolma commented on #7
@Tibb @croustibat @luki2505 @troya2 @fonesti @naruto9lol @hishma @neuronaut @JacobSyndeo @bverp

Thank you all for reporting this issue. Yes, proper, new release will be added (and CocaPods update) soon - we are currently working on it right now.

[2018-04-12 06:33] bartlomiejolma commented on #7
The latest release (version 0.12.0) is compatible with Swift 4.1.

I am closing this issue.

[2018-04-12 06:33] #7 closed

[2018-04-12 07:01] bartlomiejolma commented on #10
Hello @sw-tt-ravivora, @megataps !

@sw-tt-ravivora Have you add attachments to your beacons in Estimote Cloud like described in TODO sections in the demo application? Do you see any logs from an App?

Alternatively, can you verify if [Proximity App Template](https://cloud.estimote.com/#/apps/add/proximity-content-single) works for you?

[2018-04-12 10:16] Zedd0202 opened #11 "cocoapods error"
**Pods/EstimoteProximitySDK/EstimoteProximitySDK/EstimoteProximitySDK.framework/EstimoteProximitySDK compiled with older version of Swift language (4.0) than previous files (unknown ABI version 0x06)**

I got this error. any solution?

- I already added my Podfile
platform :ios, '10.0'

[2018-04-13 05:45] sw-tt-ravivora commented on #10
Hi,
    here are screenshots i setup all and app ID , token also of my account.

![screen shot 2018-04-13 at 11 04 23 am](https://user-images.githubusercontent.com/25667759/38718685-e50ad024-3f0b-11e8-8164-cc473c9fc78b.png)
![screen shot 2018-04-13 at 11 13 05 am](https://user-images.githubusercontent.com/25667759/38718686-e5317b34-3f0b-11e8-8afc-c5b4639a0807.png)
![screen shot 2018-04-13 at 11 13

[2018-04-13 06:11] bartlomiejolma commented on #10
@sw-tt-ravivora from your screenshots I can see that you are using the old version of Proximity Beacons (Hardware Revision D3.4) which does not support Estimote Monitoring (Estimote Location/Estimote Monitoring Tab is not shown on your device settings modal). We are not supporting those beacons in Proximity SDK right now.

For beacons with Hardware Revision D3.4 you can use old [Estimote iOS SDK](

[2018-04-13 06:11] #10 closed

[2018-04-13 06:39] sw-tt-ravivora commented on #10
Ok , Thanks for giving information.

[2018-04-13 11:58] bartlomiejolma commented on #11
Hello @Zedd0202

With the latest release (0.12.0) we have updated Proximity SDK to use Swift in version 4.1 which breaks binary-level compatibility with the previous version.

To solve your issue you can:
- Update your Xcode to the latest version (which will update your Swift version too) - this is a recommended solution
- Explicitly pick from the cocoapods version 0.11.3 build with old Swift.

[2018-04-13 11:58] #11 closed

[2018-04-17 16:24] ivopisarovic commented on #9
I fixed them. I turned off Estimote Monitoring a turned it on again. And now it is working for more than one meter. It seems like a bug in the beacon firmware.

[2018-04-18 08:59] n0hkie opened #12 "Xcode 9.3 with EstimoteProximitySDK (0.12.0) error Thread 1: EXC_BAD_ACCESS (code=1, address=0x10)"
Running but after a while app is crashing
<img width="1154" alt="screen shot 2018-04-18 at 4 54 31 pm" src="https://user-images.githubusercontent.com/3851075/38921850-4f6adf4c-4329-11e8-800a-49e0e1ea9da9.png">
<img width="497" alt="screen shot 2018-04-18 at 4 56 49 pm" src="https://user-images.githubusercontent.com/3851075/38921933-869237cc-4329-11e8-9efd-52356bac36cf.png">

[2018-04-19 06:58] bernayu commented on #12
+1

[2018-04-19 11:34] MatthewGerber commented on #7
@bartlomiejolma I believe the Xamarin Bindings also need to be updated to 0.12.0 in order to be compatible with Swift 4.1. In addition to updating, it looks like the `EstimoteBluetoothScanning` framework needs to be added to the bindings projects (also mentioned in the issue). Can you take a look [here](https://github.com/Estimote/Xamarin-Bindings/issues/4) and let me know when this might be fixed

[2018-04-23 19:31] Marlon-Monroy commented on #12
@n0hkie  I'm getting the same crash caused by ` https://github.com/Estimote/iOS-Proximity-SDK/blob/a6a84f820ded5a4211499d0c1fb58dd232a0dca3/EstimoteProximitySDK/EstimoteProximitySDK.framework/PrivateHeaders/EPXTimerAnalyticsHeartbeatGenerator.h `

[2018-04-27 10:35] heypiotr commented on #12
I've just run into the same problem, and I believe this happens when your ProximityObserver gets released/deallocated without you calling `stopObservingZones` first.

[2018-05-04 09:50] #9 closed

[2018-05-07 10:59] #8 closed

[2018-05-08 20:55] NandhuNair commented on #12
I'm also facing the same issue. Any solution?

[2018-05-08 21:28] Marlon-Monroy commented on #12
@NandhuNair  make sure your not calling observe zones one then once, some how in my code i was calling it twice, that fixed the error for me.

[2018-05-09 08:34] #4 closed

[2018-05-09 23:14] NandhuNair commented on #12
Thanks @Marlon-Monroy
Can I call **startObservingZones** again after calling **stopObservingZones** ?

[2018-05-09 23:48] Marlon-Monroy commented on #12
@NandhuNair  why would you want to stop it? but yeah I guess you can.

[2018-05-15 12:57] chwastek commented on #12
please confirm with https://github.com/Estimote/iOS-Proximity-SDK/releases/tag/v0.13.1 that you don't have this issue

[2018-06-09 06:05] Whitelotuscorp opened #14 "App Crashes using proximity sdk v0.12.0"
Hello Estimote Team,

We have implemented estimote proximity sdk v0.12.0 in our current iOS app.When our app is running in background or even app is in active state,the app is crashes again & again due to [EPXTimerAnalyticsHeartbeatGenerator startGeneratingHeartbeatForIdentifier:]_block_invoke + 88
As per crash logs.

I have also attached [crash report](https://github.com/Estimote/iOS-Proximity-SD

[2018-06-14 21:49] chwastek commented on #14
Please update to https://github.com/Estimote/iOS-Proximity-SDK/releases/tag/v0.13.1 and let me know if the problem is still

[2018-06-14 21:49] #12 closed

[2018-06-20 20:37] idelfonsog2 opened #16 "#question: Configure iBeacons"
Does the Estimote iOS app able to configure tags for iBeacons?

[2018-06-21 07:01] heypiotr commented on #16
Yes, you can enable iBeacon advertising on Estimote Beacons via the Estimote iOS app.

For the future: this is an issue tracker for the Estimote Proximity SDK. For questions, and anything unrelated to the Proximity SDK, you can use our forums: https://forums.estimote.com, or email us to contact@estimote.com.

[2018-06-21 07:01] #16 closed

[2018-06-21 21:27] CloudHN04 opened #17 "SDK(0.14.0) - Fetching tags from Cloud failed"
Xcode: 9.4.1
iOS: 11.4

trying to connect to the Cloud services I have my API ID and my AppToken correctly on my code but always getting this problem

EPXProximityObserver error: Error Domain=EPXProximityObserverErrorDomain Code=1 "Fetching tags from Cloud failed." UserInfo={NSUnderlyingError=0x1c4291210 {Error Domain=EstimoteProximitySDK.TagsMappingProvider.Error Code=1 "(null)"}, NSLocalizedDesc

[2018-06-22 08:20] chwastek commented on #17
Well, there could be few reasons for that. Did you
- check for sure Internet connection (e.g. proxy is not blocking)?
- assign a tag to any of your devices?
And eventually please tell me what is your account, so I can try to check it up on our side :)

[2018-06-22 09:00] karthironald opened #18 "Can't fetch my beacon attachments."
Hi,

I am using 0.14.0 SDK and I can able to add listener for my beacons using **tag**. But in onEnter/onChange completion handler i am not getting attachments inside my context for my beacon. I have properly configured beacon attachment in cloud. **Tag** and **deviceIdentifier** are available in context, only beacon attachments is **nil**. Kindly refer below images.

Can you please help me to fix

[2018-06-22 14:40] CloudHN04 commented on #17
Hello @chwastek,

Yes I checked the internet connection there no blocking on any port or via proxy
I've assigned a tag to the device.

I tested also on the Android SDK I didn't have that kind of problem

[2018-06-25 05:31] karthironald commented on #18
Hi,

Can I have any update on this please?

[2018-06-25 14:36] CloudHN04 commented on #17
@chwastek any updates on this?

Thanks

Erick

[2018-06-27 10:37] chwastek commented on #18
@karthironald bug in fetching multiple attachments, added to backlog

[2018-06-27 14:27] #17 closed, assigned to nobody

[2018-06-27 18:55] chwastek commented on #17
@CloudHN04 it is still very important remark! 👍 Though happy it is solved :)

[2018-06-28 03:58] karthironald commented on #18
When can I expect this to be fixed?

[2018-06-28 10:50] chwastek commented on #18
@karthironald I'd expect it to be fixed within next few days

[2018-06-28 10:56] chwastek commented on #17
@CloudHN04 can you tell me exactly what was this tag, that produced the issue?

[2018-06-28 11:59] karthironald commented on #18
Okay thanks for your information.

[2018-06-28 14:44] CloudHN04 commented on #17
@chwastek for example words like "caja" or "tres", "seis" seems to have the problem.

[2018-06-29 09:12] chwastek commented on #17
@CloudHN04 is it still an issue? these short tags names?

[2018-07-02 11:06] chwastek commented on #18
@karthironald please check, it should be ok now 😄 with the same SDK version!

[2018-07-02 12:18] karthironald commented on #18
Okay 👍. Will check and update you.

[2018-07-04 04:38] karthironald commented on #18
Yep 😃, now I'm getting my **beacon attachments** in **context**. Thanks for your work.

[2018-07-06 08:11] #18 closed

[2018-07-10 20:29] Erik262 opened #19 "Module compiled with Swift 4.1.2 cannot be imported in Swift 4.1.50"
Hello, using Xcode 10 on Mojave 10.14 will couse this error "Module compiled with Swift 4.1.2 cannot be imported in Swift 4.1.50"

- Also when I using the ToolChain Swift 4.1.2
- Changing Swift version in the settings didn't work.

Any Solution to Fix that ?

Thanks!

[2018-07-12 15:25] Tibb opened #20 "HTTPS requests informations"
Hi,

Could you give us some information/documentation regarding the requests you fire through the Proximity Framework?

I've counted 10 to 50 GET requests per minute, mainly like this one:
`https://resolver.api.estimote.com/V1/decrypt?ef=abcdefghi01234567`

What's the purpose of these requests? Is there a way to lighten this number?

In general, I was not able to find pre-requisites regarding the

[2018-07-19 20:09] vasquezdennisalon opened #21 "ProximityObserverHandler"
How can ProximityObserverHandler be implemented in ios

[2018-07-25 20:04] timsatterfield opened #22 "Attachment based proximity api should be deprecated but still functional."
This applies to both IOS and Android proximity SDKs.

I find it super frustrating that the proximity sdk features are deliberately broken instead of being deprecated over time.  Even more so since the older sdk repos have been declared deprecated themselves, and their documentation recommends use of the proximity sdk instead.

What is the reasoning for pushing everyone over to the proximity sdks i

[2018-08-01 00:17] Alexdelgadodiaz opened #23 "Estimote dont connect to cloud service"
I have my iBeacon set and I get this error. I am using cocoapods `pod 'EstimoteProximitySDK', '~> 1.0' ` and my beacons have tags, what am I doing wrong?

[2018-08-01 04:08] karthironald commented on #23
Did you check internet connection at when you add listener? Because I hope adding listener using tags needs internet connection to get beacons details from estimote cloud.

[2018-08-01 06:58] Alexdelgadodiaz commented on #23
Yep, my phone is connected to internet at all times... I tried with 4G and wifi connection. The rest of the app connects correctly to services but this one says that there is no internet connection, it´s weird and this is the reason I am asking here :D

[2018-08-03 21:44] #22 closed

[2018-08-06 22:05] jhkaplan commented on #19
Having same issue. Developing app for iOS 12, getting error "Module compiled with Swift 4.1.2 cannot be imported by the Swift 4.2 compiler.  Is there any solution to this?

[2018-08-07 22:45] Erik262 commented on #19
Maybe it could helps you:
Go to https://swift.org/download/
Download and install the toolchain for Xcode 9.4. There is a link under "Xcode 9.4" **(Toolchain)**

Then in Xcode choose: Xcode -> Toolchains -> Swift 4.1.2
Now it should work again :)

[2018-08-08 15:26] jhkaplan commented on #19
Thanks @Erik262, that did help some, although now I get the error "Command CompileSwift failed with a nonzero exit code" when trying to build with this new toolchain. The error disappears when I revert back to the standard Xcode 10 toolchain.

[2018-08-09 19:53] marcosjvivar opened #24 "EPXProximityObserver instantiation fails every single time"
We have been using EstimoteProximitySDK since it came out and unfortunately we haven't been able to migrate to the tag-based approach yet, so we have been using the attachment-based approach.

We have implemented a singleton class which handles instantiation and responses from the "onChangeAction" execution block.

We have defined the EPXProximityObserver as follows:
**`private var proximityObserv

[2018-08-13 13:38] chwastek commented on #21
Please double check [our snippets](
https://github.com/Estimote/iOS-Proximity-SDK#inside-your-app). From your question I assume you're influenced by Android Proximity SDK, right? On iOS there is no _handler_, because handling of enter/exit actions is done on zone's callbacks.

[2018-08-13 13:57] chwastek commented on #23
My first guess is that it is mishandling of error and probably no devices are assigned to provided tags. Basically this case could happen when downloading tags from Cloud fails (no devices assigned, requests not coming through) and you have no cached info so far.

1. Are you sure you assigned tags (that you wrapped within `EPXProximityZone`s and added to `EPXProximityObserver`!) to devices?
2. Are

[2018-08-13 14:03] chwastek commented on #24
Hey @marcosjvivar
Which version of SDK do you use? And what you mean exactly by:

Is there anything that can indicate the source of the issue or at least be helpful in doing so?
You did provide properly credentials `EPXProximityObserver`?

[2018-08-14 20:30] vasquezdennisalon opened #25 "Cpu too high"
There is a problem with the new version of estimote, it makes the use of the cpu is very high can reach 60%.

I have tested on the following devices:
- iphone 5s (ios version 11.4.1 version)
- iphone 6s (11.4.1)
- iphone 8 plus (ios version 11.4.1)

I have created a repository and I have uploaded the code that I used to demonstrate the high use of the cpu
https://github.com/vasquezdennisalon/Estim

[2018-08-16 09:54] chwastek commented on #25
Hey @vasquezdennisalon
can you be more specific? I downloaded your project, but it is an empty one and I'm not sure what is the issue here exactly?

[2018-08-16 10:46] chwastek commented on #20
Hey @Tibb
sorry for the delay! These requests are needed for Secure Monitoring (both foreground and background) and unfortunately currently they cannot be disabled/tweaked.
Regards

[2018-08-16 11:40] Tibb commented on #20
Thanks for the info!

[2018-08-16 11:40] #20 closed

[2018-08-16 16:26] deepeshwp commented on #19
After i revert back to back to the standard Xcode 10 i get back the same error ; Module compiled with Swift 4.1.2 cannot be imported by the Swift 4.2

[2018-08-17 22:49] vasquezdennisalon commented on #25
Hi @chwastek

I have migrated the Estimote version to the previous one and I have tried the proximity example found in this repository:
https://github.com/Estimote/iOS-SDK/blob/master/Examples/swift/Proximity/Proximity/ViewController.swift

Then I create my own project that is in this repository
https://github.com/vasquezdennisalon/EstimoteSDKProximity/tree/master/aupar/aupar/EstimoteProximity

th

[2018-08-22 07:57] chwastek commented on #23
how's it going @Alexdelgadodiaz ? ;)

[2018-08-24 08:06] tong9977 opened #26 "Can not upload to App Store. “Error Unsupported Architectures EstimoteProcimitySDK.framework”"
I have a
![screen shot 2018-08-24 at 15 02 57](https://user-images.githubusercontent.com/5284877/44572818-409dd100-a7af-11e8-9b0b-a26e7bf5bc39.png)
![screen shot 2018-08-24 at 15 02 57](https://user-images.githubusercontent.com/5284877/44572826-47c4df00-a7af-11e8-8103-56e9d939a9af.png)

problem about unloading my app on the App Store. It shows “Error Unsupported Architectures for EstimoteBluetooth

[2018-08-24 08:08] tong9977 commented on #26
![screen shot 2018-08-24 at 15 00 49](https://user-images.githubusercontent.com/5284877/44572931-72af3300-a7af-11e8-8dca-cea38bc8a68f.png)

[2018-08-27 15:20] hishma commented on #19
+1

[2018-09-10 10:47] buechner commented on #19
+1 Swift 4.1.2 ToolChain not helping

[2018-09-14 06:40] irvingdp opened #28 "No devices assigned to 'tag name'"
I have set 6 zones and assign tag name ad range_1, range_3, range_6, range_10, range_15, range_20.
and also set range as 1,3,6,10,15,20 meter by customRangeWithDesiredMeanTriggerDistance.

My estimote cloud account assigned only a beacon and set tag name to  range_6, after I start Observing Zones on iphone 6s, I always saw a log say 'No devices assigned to range_1' and no any onEnter & onExit & on

[2018-09-14 09:27] chwastek commented on #28
sorry for closing, accidentally clicked 😅

[2018-09-14 11:50] heypiotr commented on #26
We do include the simulator architectures in our build of the Proximity SDK. When uploading to the App Store however, Apple requires your to strip those architectures. CocoaPods does this by default, but if you're not using CocoaPods, you can simply add it to your build phase. There's a number of ready-made scripts to do that on the Internet, so you should be able to find something that works for

[2018-09-14 11:50] #26 closed

[2018-09-14 14:16] irvingdp commented on #28
finally, I set all tags to a dummy beacon to resolve the problem. thanks.

[2018-09-14 14:16] #28 closed

[2018-09-17 20:35] ay8s opened #29 "Releasable version of v1.1.0-swift4.2"
Do you have a timeline of merging and releasing v1.1.0-swift4.2? Using the "v1.1.0-swift4.2" Pod I am unable to release due to the version formatting.

Thanks 👍

[2018-09-17 22:09] mdanks opened #30 "XCode 10/iOS 12 - dyld: Symbol not found: __T0BOWV"
Hi,

  We just updated to the Released XCode 10 and iOS 12 today.  After compiling and running our app, I get a runtime crash at startup:

[code]

From a quick Google, looks like you may need to release a new version of the library?  We are currently on EstimoteProximitySDK 1.1.0

Thanks!
Mark

[2018-09-18 14:09] chwastek commented on #30
Hey @mdanks
we release this one https://github.com/Estimote/iOS-Proximity-SDK/releases/tag/v1.1.0-swift4.2 about a week ago. Please check with this version and let us know if there are any problems.
Thanks
Filip

[2018-09-18 14:13] chwastek commented on #29
Hey @ay8s
No plans yet, so I wouldn't get too attached to dates. Can you elaborate what is exactly the issue with version formatting?

[2018-09-18 14:16] chwastek commented on #23
Hey @Alexdelgadodiaz
can you confirm if everything is ok?

[2018-09-18 14:17] #21 closed

[2018-09-18 14:36] ay8s commented on #29
Using the updated Cocoapod.
<img width="693" alt="screen shot 2018-09-18 at 7 34 56 am" src="https://user-images.githubusercontent.com/1058408/45695011-618ae500-bb15-11e8-8481-e6b1308c92d2.png">

Is installing manually the only way around building and submitting with Xcode 10?

[2018-09-18 23:31] hishma commented on #29
+1

[2018-09-19 09:49] mdanks commented on #30
Hi @chwastek ,

 I'll take a look, but from the other bug reports, this is a stop gap solution.  Are you planning to update the released version so we don't have to do workarounds?

Thanks!
Mark

[2018-09-19 11:13] chwastek commented on #29
I wasn't aware that `CFBundleShortVersionString` has to be "App Store compliant", not server compliant 🙄. Anyway, we'll update pods asap (before the weekend for sure 🤞).
@ay8s @hishma  thanks for highlighting the issue

[2018-09-19 13:41] leonardoRestrepoIndesap opened #31 "Code signing "EstimoteBluetoothScanning.framework" failed."
After add Estimote Proximity SDK manually for IOS 12 this is my problem to upload my project to AppStore

[2018-09-19 14:36] chwastek commented on #30
@mdanks actually we stumbled upon this issue in the meantime: https://github.com/Estimote/iOS-Proximity-SDK/issues/29 so yes, another release is coming very soon 😉

[2018-09-19 16:07] chwastek commented on #30
@mdanks https://github.com/Estimote/iOS-Proximity-SDK/releases/tag/v1.2.0 here you go!

[2018-09-19 16:08] chwastek commented on #29
@ay8s @hishma https://github.com/Estimote/iOS-Proximity-SDK/releases/tag/v1.2.0

[2018-09-19 16:18] bprzemyslaw commented on #19
We brought official support for Swift 4.2 now, with [version 1.2.0](http://github.com/Estimote/iOS-Proximity-SDK/releases/tag/v1.2.0).

[2018-09-19 16:18] #19 closed

[2018-09-19 16:27] leonardoRestrepoIndesap commented on #30
Cocoa pod still being 1.1.0

[2018-09-20 09:50] chwastek commented on #30
@leonardoRestrepoIndesap please double check with _current_ version 1.2.0 on Cocoapods (https://cocoapods.org/pods/EstimoteProximitySDK) and confirm if you have any issues

[2018-09-20 12:40] chwastek commented on #23
Closing for long inactivity

[2018-09-20 12:40] #23 closed

[2018-09-20 12:40] chwastek commented on #24
Closing for long inactivity

[2018-09-20 12:40] #24 closed

[2018-09-20 12:48] leonardoRestrepoIndesap commented on #30
Cocoapods version is 1.2.0 now and is working, thank you so much ;)

[2018-09-20 14:13] chwastek commented on #31
hey @leonardoRestrepoIndesap
Which version of Proximity SDK do you mean?

[2018-09-20 14:57] #31 closed

[2018-09-21 08:18] #30 closed

[2018-09-24 04:39] michaelcuneo opened #32 "No such module 'EstimoteProximitySDK'"
Multiple issues with new builds on XCode 10, targetting iOS 10.

Following the SDK Setup instructions for a .Podfile installation on iOS... for Swift, I get

No such module 'EstimoteProximitySDK'...

Following the SDK Setup instructions for a .Podfile installation on iOS... for Objective C, I get a valid compilation and run, but it segfaults on launch, with an unusual error.

The same issues occur

[2018-09-24 06:16] chwastek commented on #32
@michaelcuneo above all I would go with "standard" or close/restart/deep clean/delete derived data/etc. combo with Xcode and Mac OS. Very often it helps in such cases, no matter what is the origin.

What is this

?

And what exactly happens with Android SDK?

[2018-10-02 03:17] irvingdp commented on #30
Hi @chwastek ,
We also encountered the same issue, but we are currently on EstimoteProximitySDK 0.13.1, may you also release a version for swift 4.2.  thanks~

[2018-10-04 10:31] Syngmaster commented on #31
Hi, getting this error when trying to distribute an archive:
Failed to verify bitcode in EstimoteBluetoothScanning.framework/EstimoteBluetoothScanning:
error: Cannot extract bundle from /var/folders/h4/h3h2gczd1pg31zfh_swv2l8r0000gn/T/XcodeDistPipeline.QEs/Root/....

The problem occurred once I updated EstimoteProximitySDK and EstimoteBluetoothScanning to the latest versions yesterday. I set enabl

[2018-10-04 10:35] Syngmaster opened #33 "Failed to verify bitcode in EstimoteBluetoothScanning.framework"
Hi, getting this error when trying to distribute an archive:
Failed to verify bitcode in EstimoteBluetoothScanning.framework/EstimoteBluetoothScanning:
error: Cannot extract bundle from /var/folders/h4/h3h2gczd1pg31zfh_swv2l8r0000gn/T/XcodeDistPipeline.QEs/Root/....

The problem occurred once I updated EstimoteProximitySDK and EstimoteBluetoothScanning to the latest versions yesterday. I set enabl

[2018-10-04 16:16] ShugaSvc commented on #30
hi @@chwastek will we also get a release for 0.13.1?

[2018-10-09 13:33] rohitup opened #34 "Estimote Analytics"
How to enable Estimote analytics in the proximity zone?

[2018-10-22 23:47] jcampbell05 opened #35 "NFC Support"
Are there any plans for NFC support ?

[2018-11-01 19:46] nanli opened #36 "Fetching devices attached to provided tags failed!"
I just started using the SDK, I am using the latest version (1.12.0) and I always have this problem when starting the App. By the way, I connect my iPhone to my Mac with cable and load the App from Xcode directly (I have no paid Apple development account, so I am using it on my own phone only).

**_Fetching devices attached to provided tags failed!
When running offline, internet connection is requ

[2018-11-01 21:39] nanli commented on #36
Tried for some hours, and it suddenly worked ..... I don't even know the reason... This issue can be closed.

[2018-11-01 21:39] #36 closed

[2019-01-02 07:18] abhi17jas opened #37 "Get RSSI value"
How to get the RSSI value of detected beacon while using the iOS-Proximity-SDK?

[2019-01-04 21:06] jordansnyder commented on #36
I noticed that this happened when I tried to set up a zone for a tag that didn't exist. I fixed the tag in the web dashboard and instantly stopped getting this error. I think the real problem is the generic error message and IMO this should be re-opened to fix that.

[2019-01-17 07:03] huynhpeter commented on #23
I have the same error. I'm running the @estimote/react-native-proximity. Then I built the iOS example app and am running it in dev mode on my iphone. I'm seeing the exact error that's described in this ticket. Where do i go to assign the tags? My requests seem to be coming back with status code 200 from what the terminal in VSCode is saying.

I'm pretty new to react native and beacon tech. Any hel

[2019-01-17 07:14] huynhpeter commented on #36
This is also happening to me and I'm not sure why. Where do you go to set the tags? I'm new to beacon technology, so any advice would help. Thanks!

[2019-01-22 08:36] chwastek commented on #36
@jordansnyder noted and added to the backlog!
@huynhpeter https://github.com/Estimote/iOS-Proximity-SDK#setting-up-tags

[2019-01-25 21:31] chrisspankroy opened #39 "Xcode 10.2 Beta - dyld: Symbol not found: _$SBOWV"
I'm having an almost identical issue as #30 . After the app compiles and is installed on the device, it immediately crashes with the output:
[code]
This version of Xcode is the first one (I believe) that uses Swift 5. Looking through past issues in this repo, I think this issue has happened whenever there is a new Swift release? I installed the SDK via CocoaPods and I'm using version 1.2.1.

[2019-02-01 01:30] TouregoYew opened #40 "Estimote Telemetry Bug"
Please refer to
https://forums.estimote.com/t/how-to-use-estimote-telemetry/9664/6

[2019-02-14 20:04] thewizster commented on #36
Receiving same error. I found that the tags are case sensitive. Made sure case matched and error is gone.

[2019-02-21 03:47] gelodgreat opened #41 "[iOS] Could not find module 'EstimoteProximitySDK'"
Could not find module 'EstimoteProximitySDK' for architecture 'x86_64'; found: arm64, arm

XCode 10 beta 2

[2019-03-05 10:32] Trupti15 commented on #8
Thank you, Sir. It works.

[2019-03-13 17:48] speakerbug commented on #39
I'm also having this same issue.

[2019-03-26 04:44] chrisspankroy commented on #39
This issue is fixed for me in the release build of Xcode 10.2

[2019-03-26 04:44] #39 closed

[2019-03-26 17:27] rogerdalal commented on #41
Here we are again. Xcode 10.2 / Swift 5.0 officially out as of 3/25, and the EstimoteSDK isn't ready. Despite the above posted over a month ago.

[2019-03-26 17:29] magnuskahr commented on #41
I got the following mail from the supportteam today regarding swift 5 Xcode 10.2:

[2019-03-26 17:34] rogerdalal commented on #41
Thank you @magnuskahr for the update. At least that's something.

[2019-03-26 22:59] dewey4iv commented on #41
hey @magnuskahr -- I'm wondering if this is related to the same issue:

[code]

[2019-03-27 05:58] magnuskahr commented on #41
@dewey4iv well I have **not** myself been able to make the SKD run in Xcode 10.2, no matter what toolchain. So I guess its related!

[2019-03-27 12:06] rogerdalal commented on #41
Latest update (v1.3.1) resolves these issues on iOS 12.2 and Xcode 10.2. Thank you, Estimote.

[2019-03-27 14:36] dewey4iv commented on #41
I wanted to explicitly state that this resolve my issues :). Thanks, Estimote!

[2019-03-27 18:28] hstrey opened #42 "EsimoteProximitySDK: Module compiled with Swift 5.0 cannot be imported by the Swift 4.2.1 compiler"
I am using XCode 10.1 and I cannot get the ProximitySDK to work.  Using CocoaPods.

[2019-03-28 12:40] hstrey commented on #42
solved problem by moving back to 1.2.0.  Could you please indicate in the code tree which Swift version is used? Swift 5 for 1.3.x on.

[2019-03-28 12:44] chwastek commented on #42
@hstrey please use SDK starting with version 1.3.x
here is the commit that introduced the support for Swift 5 -> https://github.com/Estimote/iOS-Proximity-SDK/commit/30bde051d49f20c452e75f4c20f4716e3998dee2

We try to include any important notes (like supporting Swift 5) in [changelog](https://github.com/Estimote/iOS-Proximity-SDK/blob/master/CHANGELOG.md)

Hope it helps

[2019-03-28 12:50] #42 closed

[2019-03-28 13:40] chwastek commented on #37
@abhi17jas unfortunately you cannot currently do that, as each zone is operating on `ProximityZoneContext` which consists of:
- beacon's identifier
- tag's name
- dictionary of attachments assigned to that beacon
Regards
@chwastek

[2019-04-05 10:20] #41 closed

[2019-04-05 10:20] #32 closed

[2019-05-17 07:25] vinodgleecus opened #43 "Incompatible versions swift 4.2"
I have updated my Xcode from 10.1 to 10.2 am not able to run the app getting the following error: The following binaries use incompatible versions of swift(Swift stdlib tool Error)
/users/apple/Lib/Developer/Xcode/DerivedData/appname/Build/Products/Debug-iPhones/Appname.app/Frameworks/EstimoteProximitySDK.framework/EstimoteSDk

[2019-05-20 11:28] vinodgleecus opened #44 "Main Thread Checker: UI API called on a background thread: -[UIApplication applicationState]"
I just implemented this simple method to fetch all available tags/zones
------------------------------------------------------------------------------------------
import UIKit
import Parse
import EstimoteProximitySDK

class HomeViewController: UIViewController {

    let estimoteCloudCredentials = CloudCredentials(appID: "xxxxxxxx", appToken: "xxxxxxxxxxxxx")
    var proximityObserver: ProximityOb

[2019-05-21 12:13] chwastek commented on #43
Which version of the SDK are you using?

[2019-05-21 12:15] vinodgleecus commented on #43
pod 'EstimoteProximitySDK','~> 1.2.1'

[2019-06-04 13:29] vinodgleecus commented on #44
can anyone responds on this ?

[2019-06-04 14:02] vinodgleecus commented on #33
even am getting the same error.. please can anyone respond on this?
![Screen Shot 2019-06-04 at 6 39 35 PM](https://user-images.githubusercontent.com/22143771/58885238-75a46000-86ff-11e9-9a0b-6cc259a496e7.png)

[2019-06-13 07:58] chwastek commented on #40
@TouregoYew apologies for taking so long, but it's coming within next few days in version 1.5.0 ✌️

[2019-06-13 08:16] chwastek commented on #43
@vinodgleecus sorry for such delay
imo the easiest and quickest way would be just using newer versions of Proximity SDK, you have quite few newer releases since this issue occurred 😉
Does it solve your problem?

[2019-06-13 08:18] #37 closed

[2019-06-13 08:22] chwastek commented on #35
@jcampbell05 sorry for such a long wait 🙁
Unfortunatelly we don't plan anytime soon such feature in Proximity SDK.
Regards

[2019-06-13 10:24] jcampbell05 commented on #35
Don't worry 😀 @chwastek, thanks for the response

[2019-06-13 10:24] #35 closed

[2019-06-13 10:37] chwastek commented on #44
hey @vinodgleecus
firstly sorry for not responding for so long!
secondly: could you share bit more? does it happen all the time/sometimes? which version of the SDK are you using etc
Regards

[2019-06-14 10:36] vinodgleecus commented on #43
NOPE 👎

[2019-06-14 10:38] vinodgleecus commented on #44
yes it happens every time
pod 'EstimoteProximitySDK','~> 1.2.1'
no, I didn't any logs
yes Am 100% Sure

[2019-06-18 03:34] BeerPoldet opened #45 "Can we use permission "When in Use" in iOS 11 and later"
I'm not so sure if we actually need to use permission "Always use location" level to gain background ranging capability in iOS 11 and later. Please enlighten me.

Thanks in advance.

[2019-06-26 07:23] BeerPoldet commented on #45
Gental ping...

[2019-06-27 08:17] tylerlantern commented on #45
Are developer there ? Or were all of them exile ?

[2019-07-20 16:49] karthironald opened #46 "Module compiled with Swift 5.0.1 cannot be imported by the Swift 5.1 compiler"
Hi,

I'm using latest EstimoteProximitySDK version 1.4.1 and Xcode 11 beta (11M336w). When I build my project I'm getting **Module compiled with Swift 5.0.1 cannot be imported by the Swift 5.1 compiler** error. Can anyone please help? When can we expect Swift 5.1 update? Please let me know if i miss anything.

Thanks!

[2019-07-30 08:00] karthironald commented on #46
Any updates in this?

[2019-07-30 11:02] dandreikiv commented on #46
I have the same issue.

[2019-08-09 05:25] divrt-anvesht commented on #44
I too have same problem "Main Thread Checker: UI API called on a background thread: -[UIApplication applicationState]" in my current App Store app. @Estimote could you please fix this issue ASAP.
This weird bug in iPhone X and later devices making app stuck for a while....

[2019-08-14 15:06] daningamells commented on #46
Same issue :-(

[2019-08-27 14:07] fenuks opened #47 "Code examples in README.md are outdated"
I'm using SDK in latest available version at the moment, i.e. 1.4.1, and example snippets are inaccurate.

* `EPXProximityObserver` has been renamed to `ProximityObserver`
* `ProximityZone` argument order has changed (`tag` must precede `range`)
* at the top of the snippet `ProximityObserver` is assigned to `self.proximityObserver`, and at the very bottom `self.observer` is being used

Below is fi

[2019-09-03 12:29] heypiotr commented on #46
Thanks for your reports all, and sorry for the long wait! ^_^

We should have an update for Swift 5.1 very soon, hopefully by the end of this week.

The good news is, with Module Stability in Swift 5.1, this should be the last time you see an issue like this. Module Stability means that going forward, you can take a Swift 5.1 library (e.g., the next version of the Proximity SDK), and use it with a

[2019-09-03 12:46] karthironald commented on #46
Looking for updated version soon! Thanks for the update.

[2019-09-05 11:08] heypiotr commented on #46
`1.5.0-beta1` is now available, in this repo and on CocoaPods, let us know if it works for you.

The final 1.5.0 will come after Xcode 11 releases as stable.

[2019-09-05 11:08] #46 closed

[2019-09-05 11:11] karthironald commented on #46
Will check and update you! Thanks!

[2019-09-13 20:24] alex-kovalenko opened #48 "Xcode 11 GM support"
Hi!

When can we expect Xcode 11 GM support?

Thanks,
Alex.

[2019-09-16 08:13] trusk89 commented on #48
On my current implementation `onEnter` is never called on iOS 13.

[2019-09-16 09:18] heypiotr commented on #48
Is that in the foreground or background? Does your app have correct permissions? Note that on iOS 13, you need the new Bluetooth permission.

[2019-09-16 10:01] trusk89 commented on #48
@heypiotr that's in the foreground? Yeah, I;ve added `NSBluetoothAlwaysUsageDescription` permission and it successfully asks for permission at first launch.

[2019-09-16 11:30] chwastek commented on #48
@trusk89
1. is it iOS 13 or 13.1 beta 3?
2. I assume there is simply no action at all once observer start to work? (no crashes but nothing happens basically?)

[2019-09-16 11:46] trusk89 commented on #48
@chwastek

1. 13.1
2. exactly

[2019-09-19 11:18] heypiotr commented on #48
The problem was actually in the "EstimoteBluetoothScanning" library, a low-level library that the Proximity SDK uses for low-level Bluetooth scanning. We've just released version 1.0.6 of that library with iOS 13 fixes, so you should be able to simply run `pod update EstimoteBluetoothScanning` in your project to fetch this latest version.

We'll also be releasing stable 1.5.0 later today or tomorr

[2019-09-19 12:43] heypiotr commented on #48
1.5.0 is out :tada:

https://github.com/Estimote/iOS-Proximity-SDK/releases/tag/v1.5.0

Thanks all for your help/reports!

[2019-09-19 12:43] #48 closed

[2019-09-24 12:11] chwastek commented on #47
fixed with https://github.com/Estimote/iOS-Proximity-SDK/commit/8901207a4f00b05e94ad636a1f43cd120c9059bb

[2019-09-24 12:11] #47 closed

[2019-09-27 14:00] pranavpari commented on #33
did you solve it?

[2019-09-27 20:48] pranavpari opened #50 "Failed to verify bitcode in EstimoteBluetoothScanning.framework/"
Failed to verify bitcode in EstimoteBluetoothScanning.framework/EstimoteBluetoothScanning:
error: Linker option verification failed for bundle /var/folders/1v/l26b51td44743m1zcpvjqvyc0000gn/T/EstimoteBluetoothScanningWX0cVi/EstimoteBluetoothScanning.arm64.xar (unrecognized arguments: -platform_version iOS 10.0.0 13.0.0)

got this error when I tried to archive

[2019-10-11 18:55] jayychang opened #51 "Updating proximityObserver"
Wasn't able to find a solid answer for updating for `proximityObserver`, but does calling a `proximityObserver.startObserving()` with a new payload replaces all previous observables?

[2019-10-14 14:38] chwastek commented on #51
I would be cautious when using `observables` here - iOS SDK for Proximity is not reactive. But if you're asking if calling observing new set of zones will replace old ones - then yes, it will.

[2019-10-15 17:53] #51 closed

[2019-10-17 16:26] novinfard commented on #46
I used the latest build and now it works with Xcode 11, not with Xcode 10 now! The same error is shown. I cleared my build to be sure about everything.

[2019-10-22 13:16] chwastek commented on #40
fixed with version https://github.com/Estimote/iOS-Proximity-SDK/releases/tag/v1.4.1

[2019-10-22 13:16] #40 closed

[2019-11-04 15:44] Mohamedadin opened #52 "Beacon is not register in iOS 13"
After upgrading Estimote libraries using Cocoapods as follows:
[code]
We can't register beacon in iOS 13.1.3 device.

However the live build on App Store is working fine with  iOS 13 and the following pods versions
[code]
Quick response is needed :)

[2019-11-14 09:37] chwastek commented on #52
Formatted a little your post (hopefully it is how you intended?) - can you clarify what do you mean by _register_? Do you mean _detect_?

[2019-11-14 10:40] Mohamedadin commented on #52
Thank you for your reply.
I mean scanning and connecting the beacon. It takes too much time without response.
I used the following:
`func deviceManager(_: ESTDeviceManager, didDiscover devices: [ESTDevice]) {
        let nextGenBeacons = devices
        let beaconsWithNormalizedRSSI = nextGenBeacons.map { ($0, normalizedRSSIForBeaconWithIdentifier($0.identifier, RSSI: $0.rssi)) }.filter { $0.1 !=

[2019-11-14 13:28] chwastek commented on #52
Estimote Proximity SDK is not for connecting or detecting beacons, but for detecting tagged zones (which are in fact a group of beacons with a specific tag attached to them in the Cloud).

If you need to do so [detect & connect] (as I can see you're trying to from the snippet you provided) all you would need is [Estimote Fleet Management SDK](https://github.com/Estimote/iOS-Fleet-Management-SDK).

[2019-11-14 13:28] #52 closed

[2019-12-04 12:14] joyjones304 opened #53 "Support for watchOS"
Is there any chance for Estimote to offer support for watchOS apps anytime soon?

[2019-12-09 11:52] MuhammedFareed opened #54 "Sample code not working"
Hello I have been trying to use the SDK when using the sample code below

[code]
The call backs for onEnter and onExit never gets called. Knowing that I have on my cloud account a tag and beacon that has this tag.

Update:
I discovered that my beacons was hardware version D would this affect the behavior of the code above

[2019-12-10 10:56] MuhammedFareed commented on #54
Update:
I discovered that my beacons was hardware version D would this affect the behavior of the code above?

[2020-01-09 15:25] SavioVaz99 opened #55 "Module compiled with Swift 5.0 cannot be imported by the Swift 5.1.2 compiler:"
Using "import EstimoteProximitySDK" in my code gives me

"Module compiled with Swift 5.0 cannot be imported by the Swift 5.1.2 compiler: "

Using Xcode 11.2.1

[2020-01-20 16:52] chwastek commented on #55
@SavioVaz99 we'll fix it with the next release, this week

[2020-01-21 13:01] chwastek commented on #55
@SavioVaz99 please checkout from Cocoaopds, should be in few minutes available (https://github.com/Estimote/iOS-Proximity-SDK/releases/tag/v1.6.0)

[2020-01-27 17:36] #55 closed

[2020-01-28 14:11] chwastek commented on #53
Sorry for such delay, but the answer is no - we're not planning WatchOS support any time soon

[2020-01-28 14:11] #53 closed

[2020-01-28 14:13] chwastek commented on #54
sorry for the delay, did you enable in the Cloud Estimote Monitoring for these beacons?

[2020-02-17 18:37] ksinghal opened #56 "Offline funuctionality"
I am trying to implement the following use case on iOS:

1. User opens app and we start observing proximity for certain zones
2. User enters/exits zones
3. User's phone goes offline and user quits app completely
4. User opens app and observe proximity for the same zones??

I have encountered an issue with this process in which everything works until step 4. At that point, the iOS device says:

[co

[2020-04-10 07:45] #54 closed

[2020-04-10 07:53] chwastek commented on #56
@ksinghal terribly sorry for the delay
I believe you had no attachments for these beacons (not tags, attachments). If so then next release (very soon) will fix this issue, where tags will be the only thing required for Proximity SDK to work 🖖

[2020-04-29 11:27] chwastek commented on #56
@ksinghal is ☝️ still an issue with offline not working? latest release https://github.com/Estimote/iOS-Proximity-SDK/releases/tag/v1.7.0 has few fixes and offline was proved to be working. Please ensure if the SDK did store and cached your tags/attachments mappings during first online run - then you should see logs _similar_ to these:
[code]

[2020-04-29 11:35] chwastek commented on #34
Only analytics you could/can enable is through `EPXProximityObserverConfiguration` where you provide flag indicating if you want to share telemetry readings to Estimote Cloud (see [here](https://github.com/Estimote/iOS-Proximity-SDK/blob/38be2c8e32e2a6e66985115a96765077802ae685/EstimoteProximitySDK/EstimoteProximitySDK.framework/Headers/EPXProximityObserverConfiguration.h#L56)).

[2020-04-29 11:35] #34 closed

[2020-06-02 03:35] justinbloom80 opened #57 "Crash shortly after starting to observe zones"
Often after starting to observe zones the UI of our app will go unresponsive and a crash will occur. Testing under iOS 13.5 on an iPad 6th generation with LTE.

When this occurs I can see the following error with the crash occurring on the main thread.

[logging] BUG IN CLIENT OF libsqlite3.dylib: illegal multi-threaded access to database connection

[2020-07-09 05:49] Shwetank97 opened #58 "App rejected from Apple Review due to obfuscated code presence in Estimote pods"
Hi team,

We had employed the latest estimate sdk in our iOS application.
While under review the apple’s review team notified us that the sdk had obfuscated code present in it. Our app had already been rejected previously due to this issue, and upon enquiry they mentioned this as the reason.

Can you please let us know, which version of the estimate’s proximity sdk should we use in our iOS applica

[2020-07-10 13:56] ReemaAH commented on #41
Hello, I'm facing the same issue here
swift version: 4.2
and Xcode version 11.5
how to solve that?

[2020-07-10 14:45] ReemaAH opened #59 "Could not find module 'EstimoteProximitySDK' for target 'x86_64-apple-ios-simulator'; found: arm64, arm"
Hello,

I'm using swift 4.2 and Xcode 11

I'm getting the following error when I use the SDK: Could not find module 'EstimoteProximitySDK' for target 'x86_64-apple-ios-simulator'; found: arm64, arm

I tried to change the valid architecture in build settings and downgrade the SDK to 1.2.0 but nothing worked!

How to solve this issue please?

[2020-08-04 12:18] denisiaenasescu opened #60 "Xcode 12.0 beta 3 error: Failed to build module EstimoteProximitySDK"
Hello,
I'm trying to build an app with Xcode 12.0 beta 3, but it fails with the following error:

Failed to build module 'EstimoteProximitySDK' from its module interface; the compiler that produced it, 'Apple Swift version 5.2.2 (swiftlang-1103.0.32.6 clang-1103.0.32.51)', may have used features that aren't supported by this compiler, 'Apple Swift version 5.3 (swiftlang-1200.0.22.4 clang-1200.0.25

[2020-09-21 11:36] KPatel91 commented on #60
I am quite new to iOS development especially in the third-party dependency space - but it seems like upgrading to the latest version of Swift / XCode is a horrible process in iOS land and developers choose to upgrade late or even *shudder* keep **multiple versions of XCode on hand**.

This need for third-party dependencies to be built and made available for the latest version must seriously hamper

[2020-10-28 16:01] danibachar opened #61 "Is there a way to observe for events on different threads?"
It seems that the SDK forces the `EPXProximityZone` callback i.e `@property(nonatomic, copy, readwrite, nullable) void (^onEnter)(EPXProximityZoneContext *zoneContext);` and the others to be called back on the main thread.
In cases where there are a lot of beacons near by this causes heavy usage on the app and in some cases, it's getting totally stack...
From stack tracing it seems like Estimote S

[2021-06-01 10:01] tylerlantern opened #62 "Will it has SWIFT Package in the nearly future ?"

[2021-07-02 13:18] sutee9 opened #63 "Framework can not be built with xcode 12 (critical)"
When building my project with xcode 12, I receive the following errors.

Apple does not allow any more xcode 11 builds since April 26, 2021, and hence this framework is no longer usable for published builds.

[code]

[2021-10-11 15:53] riccardoscambia commented on #63
Any chance that somebody fixes this issue?

[2021-11-28 17:42] walyncia commented on #33
Is no one looking at this?

[2022-01-26 20:32] SwiftNativeDeveloper opened #64 "Proximity library does not compile with latest Xcode (13.2.1)"
Version 13.2.1 (13C100)

Upon attempting to build a brand new empty template downloaded from the portal, I'm receiving the following non-start compile error.

Module compiled with Swift 5.2 cannot be imported by the Swift 5.5.2 compiler.

Swift 5.5 is a minimum requirement for me, any chance that your library will get an update to SPM using XCFrameworks and a support for newer Swift language level

[2022-02-03 05:15] Touutae-lab commented on #64
I have an issue too
module compiled with Swift 5.1 cannot be imported by the Swift 5.5.2 compiler

[2022-02-04 03:34] franciscobarrios commented on #45
It's Tony

[2022-02-04 03:36] tylerlantern commented on #45
Fck you tony

[2022-02-04 03:37] franciscobarrios commented on #45
WHAT'S YOUR NAME? >:(

[2022-02-04 03:39] tylerlantern commented on #45
i am ezekiel

[2022-02-04 03:39] franciscobarrios commented on #45
F*CK YOU EZEKIEL!

[2022-02-04 03:40] tylerlantern commented on #45
You wanna know what i did last night ?

[2022-02-04 03:42] franciscobarrios commented on #45
You better no bring my mother into this

[2022-02-04 03:43] tylerlantern commented on #45
You know what i did ?

[2022-02-04 03:44] franciscobarrios commented on #45
You better not!!!

[2022-02-04 03:44] tylerlantern commented on #45
I built a fire over there

[2022-02-04 03:45] franciscobarrios commented on #45
Oh!

[2022-02-04 03:46] tylerlantern commented on #45
Then I fck your mother next to it

[2022-02-04 03:46] franciscobarrios commented on #45
F*CK YOU EZEKIEL!!!

[2022-02-04 03:47] tylerlantern commented on #45
FCK YOU TONY !

[2022-02-04 05:56] Touutae-lab commented on #63
@sutee9 so now if we would like to use this library we only can only use Xcode11 swift 5.1 right?

[2022-03-18 02:46] #64 closed

[2022-03-18 02:46] #63 closed

[2022-03-18 02:47] #62 closed

[2022-03-18 02:47] #60 closed

[2022-03-18 18:07] SwiftNativeDeveloper commented on #64
Thanks @djhayden!

[2022-08-06 20:04] RockinRonE commented on #59
Got the beacons, just trying to setup a test app to get things working, and I also get this message.

[2022-11-18 19:53] sdetweil opened #65 "is there any doc on the error path for te sdk api calls?"
if I pass a badd appid or expired token to the CloudCredentials() method, what is the return?
does it throw an error, or return a bad returncode instead othe the credentials handle?

[2022-11-19 03:05] sdetweil commented on #61
has this been addressed?  my app will NEVER be on the UI thread when calling the sdk.  This is Ionic Vue based.

I see  this in the device log

[code]

[2022-11-19 03:12] sdetweil opened #66 "network access problem"
i have started  my 1st startObserving and see
[code]

device has wifi, but no phone service

[2022-11-19 14:49] sdetweil commented on #66
i can browse to cloud.estimote.com, but have to logon of course..

the appid/token should bypass that logon of course

[2022-11-19 17:29] sdetweil commented on #66
the downloadable UWB app connects and presents the beacon.  so its not network access

[2022-11-21 19:51] sdetweil opened #67 "CocoaPod says version 1.7.1. changelog says 1.7.0"
what are the differences

![Screenshot_2022-11-21_20-50-37](https://user-images.githubusercontent.com/1498142/203146097-497bcc80-73a1-4f9f-83c3-339ebeba835c.png)

[2022-11-21 19:55] sdetweil opened #68 "marketing and sample UWB app show vectors to beacons.. how to address"
but sdk doesn't mention vector in zonecontext data

need vector in our application